fastapi
uvicorn
motor
pydantic
pydantic-settings
python-dotenv
passlib[bcrypt]
bcrypt==4.0.1
python-jose
email-validator
xgboost==3.3.0
scikit-learn==1.6.1
joblib==1.5.3
pandas==2.2.2
numpy==2.0.2
scipy==1.16.3
